{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>TODO app</title>
        <style>body {font-family: "Arial", sans-serif}</style>
    </head>
    <body>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">{{ user.username }}: Выйти</a>

        {% else %}
        <a href="{% url 'login' %}">Войти</a>
        {% endif %}
        <br />
        {% block content %}{% endblock %}
    </body>
</html>
